@font-face {
	font-family: Quicksand;
	src: url(../fonts/Quicksand-Bold.ttf);
}
body {
	margin: 0;
	background: #000;
	-webkit-user-select: none;
	cursor: default;
	font-family: 'Quicksand', sans-serif;
	color: #fff;
}
video {
	position: fixed;
	min-width: 100%;
	min-height: 100%;
	height: 100%;
	z-index: -100;
	/*transform: translateX(-50%) translateY(-50%);*/
	background: url('../images/background.jpg') no-repeat;
	background-size: cover;
}
.about {
	font-weight:100;
	background: rgba(0,0,0,0.6);
	padding: 2rem;
	height:100vh;
}
h4{
	color:#fff;
	font-weight: bold;
	font-size:34px;
	margin: 0;
}
small{
	font-weight: bold;
	color: #cccccc;
}
.content{
	margin: 20px 0 0 0;
	padding: 0;
	font-weight: bold;
	color:#b3b3b3;
}
.content > a{
	font-weight: bold;
	font-size: 14px;
	color:#333333;
}
.btn{
	border: 0;
}
button {
	color: #fff;
    border: none;
    outline: none;
}
button:hover {
	cursor: pointer;
	opacity: 0.8;
}